@charset "UTF-8";

#categoryWrap{
	margin-top: 3rem;
}

#boardWrap {
	margin-bottom: 10rem;
}

#category {
	font-size: var(--font-xl);
}
#noContents{
	width: 100%;
	font-size: var(--font-xl);
	color: var(--txt-color-3);
	text-align: center;
	padding: 3rem 0 3rem 0;
}
#boardTop {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid 0.2rem;
}

#boardTop * {
	margin: 0px 0.3rem 0.3rem 0.3rem;

}

#status {
	font-size: var(--font-sm);
	color: var(--txt-color-3);
}

#option {
	display: flex;
	flex-wrap: wrap;
}

select {
	font-size: var(--font-sm);
}

#boardMain {
	border-bottom: solid 1px;
	margin: 1rem 0 1rem 0;
}


/* 게시물 제목 부분 */
.postCard {
	border-top: solid 0.1rem;
	padding: 1rem 0.5rem 1rem 0.5rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.postDesc {
	height: 100%;
}

.postDesc * {
	margin: 0.2rem 0 0.2rem 0;
}

.postThumb {
	height: 8rem;
	width: 8rem;
	background-color: var(--bg-color-1);
}

.postCategory {
	font-size: var(--font-xs);
	color: grey;
	margin: 0.2rem 0 0.2rem 0;
}

.postTitle {
	font-size: var(--font-base);
	font-weight: bold;
}

.postAuthor {
	font-size: var(--font-sm);
	font-weight: bold;
}

.postDate {
	font-size: var(--font-sm);
}

/* 게시물 내용 부분 */
.postBody {
	border-bottom: solid 0.1rem;
	padding: 1rem 0.5rem 1rem 0.5rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.postContainer {
	width: 100%;
	font-size: var(--font-base);
}
.postModDate {
	font-size: var(--font-sm);
	color: var(--txt-color-3);
}
.postContentTitle{
	font-size: var(--font-base);
	font-weight: bold;
}
.postContent{
	font-size: var(--font-base);
}


#boardBottom {
	padding-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-top: solid 0.2rem;
	font-size: var(--font-base);
}

.pageSwap {
	font-weight: lighter;
	cursor: pointer;
}

.nowPage {
	color: var(--bg-color-1);
	
}

#prev, #next {
	cursor: pointer;
}