@charset "UTF-8";

#categoryWrap{
	margin-top: 3rem;
	display: flex;
	margin-bottom: 2rem;
}
.writePostButton{
	flex-grow: 1;
	text-align: right;
	font-size: var(--font-base);

}
.writePostButton button{
	padding: 0.3rem 2.5rem;
}

#boardWrap {
	margin-bottom: 10rem;
}

#category {
	font-size: var(--font-xl);
}
#noContents{
	width: 100%;
	font-size: var(--font-xl);
	color: var(--txt-color-3);
	text-align: center;
	padding: 3rem 0 3rem 0;
}
#boardTop {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid 0.2rem;
}

#boardTop * {
	margin: 0px 0.3rem 0.3rem 0.3rem;

}

#status {
	font-size: var(--font-sm);
	color: var(--txt-color-3);
}

#option {
	display: flex;
	flex-wrap: wrap;
}

select {
	font-size: var(--font-sm);
}

#boardMain {
	border-bottom: solid 1px;
	margin: 1rem 0 1rem 0;
}


/* 게시물 제목 부분 */
.postCard {
	border-top: solid 0.1rem;
	padding: 1rem 0.5rem 1rem 0.5rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.postDesc {
	height: 100%;
}

.postDesc * {
	margin: 0.2rem 0 0.2rem 0;
}

.postThumb {
	height: 8rem;
	width: 8rem;
	background-color: var(--bg-color-4);
}
.postThumb img {
	height: 100%;
	width: 100%;
	background: white;
}

.postCategory {
	font-size: var(--font-xs);
	color: grey;
	margin: 0.2rem 0 0.2rem 0;
}

.postTitle {
	font-size: var(--font-base);
	font-weight: bold;
}

.postAuthor {
	font-size: var(--font-sm);
	font-weight: bold;
}

.postDate {
	font-size: var(--font-sm);
}

/* 게시물 내용 부분 */
.postBody {
	border-bottom: solid 0.1rem;
	padding: 1rem 0.5rem 1rem 0.5rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.postContainer {
	width: 100%;
	font-size: var(--font-base);
}
.postModDate {
	font-size: var(--font-sm);
	color: var(--txt-color-3);
}
.postContentTitle{
	font-size: var(--font-base);
	font-weight: bold;
}
.postContent{
	font-size: var(--font-base);
}


#boardBottom {
	padding-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-top: solid 0.2rem;
	font-size: var(--font-base);
}

.pageSwap {
	font-weight: lighter;
	cursor: pointer;
}

.nowPage {
	color: var(--bg-color-1);
	
}

#prev, #next {
	cursor: pointer;
}


.commentBox, .writeComment, .commentPlus {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1rem 2% 1rem 2%;

}

.postCommentTitle{
	font-size: var(--font-base);
	font-weight: bold;
	text-align: left;
	padding-left: 2%;
}

/* 댓글 */
.comment {
	display: inline-block;
	font-size: var(--font-sm);
	border: solid 0.1rem var(--txt-color-4);
	width: 100%
}

.commentsComment {
	display: inline-block;
	font-size: var(--font-sm);
	border: solid 0.1rem var(--txt-color-4);
	margin-left: 3rem;
}

.addCommentsComment {
	padding-left: 2rem;
	text-align: left;
}

/* 댓글 작성 정보 */
.commentInfo {
	padding: 0.2rem 0.3rem;
	background-color: var(--txt-color-4);
	text-align: left;
}


.commentContents {
	padding: 1rem;
	text-align: left;
}

.postComment {
	text-align: center;
	padding-top: 2rem;
}





.writeComment textarea {
	width: 100%;
	resize: none;
}
.writeComment textarea:focus{
	outline: none;
}

.btnCommentPlus, .btnAddComment {
	width: 100%;
	padding: 1rem 2rem;
	text-align: center;
	font-size: var(--font-base);
	border-radius: 0;
	background-color: var(--bg-color-4);
}
