
@media (min-width: 768.1px) {
    html { font-size: 62.5%; }
}
@media (max-width: 768px)  {
    html { font-size: 54.6875%; }
}

html {
    --bg-color-1: #715d74;
    --bg-color-2: #a08aa3;
    --bg-color-3: #d1bad4;
    --bg-color-4: #d1bad470;;
    --bg-color-5: #ffffff;
    --txt-color-1: black;
    --txt-color-2: rgb(59, 59, 59);
    --txt-color-3: grey;
    --txt-color-4: rgb(214, 212, 212);
    --txt-color-5: white;
    --txt-color-warn: rgb(215, 68, 68);
    --font-xs: 1.2rem;
    --font-sm: 1.4rem;
    --font-base: 1.6rem;
    --font-lg: 1.8rem;
    --font-xl: 2rem;
}

a { color: var(--txt-color-1); }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a:visited { text-decoration: none; }

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrap {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    max-width: 100vw;
    align-items: baseline;
    background-color: var(--bg-color-5);
}


#header {
    width: 100vw;
    height: 4rem;
    background-color: var(--bg-color-5);
    color: var(--txt-color-1);
    display: flex;
    align-items: center;
    position: fixed;
    border-bottom: solid 0.5rem var(--bg-color-1);
    box-shadow: 0 0 0.7rem black;
    z-index: 2;
}

#header * {
    margin-left: 1rem;
    font-size: var(--font-lg);
}

#header #loginStat{
    flex-grow: 1;
    text-align: right;
    margin-right: 1rem;
    font-size: var(--font-sm);
    color: grey;
}

#container {
    width: 100vw;
    height: calc(100% - 7rem);
    display: flex;
    flex-wrap: nowrap;
    padding-top: 4rem;
}

#sidebar {
    min-width: 20rem;
    width: 20rem;
    background-color: var(--bg-color-4);
    padding: 2rem;
    overflow-y: scroll;
    -ms-overflow-style: none;
    z-index: 1;
    font-size: var(--font-base);
    text-align: center;
}
#sidebar::-webkit-scrollbar {
    display:none;
}

#main {
    width: 100%;
    background-color: var(--bg-color-5);
    padding: 2rem;
    overflow-y: scroll;
}

#footer {
    background-color: var(--bg-color-2);
    color: var(--txt-color-5);
    width: 100vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-xs);
}


.hidden {
    display: none !important;
}

.appear{animation: appear 0.3s linear 1 ;}
@keyframes appear{
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0%);}
}

.disappear{animation: disappear 0.2s linear 1 ;}
@keyframes disappear{
    0%{transform: translateX(0%);}
    100%{transform: translateX(-100%);}
}

button {
    all: unset;
    background-color: var(--bg-color-5);
    color: var(--txt-color-1);
    border: solid 0.1rem black;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--bg-color-1);
    border: solid 0.1rem var(--bg-color-1);
    color: var(--txt-color-5);
}

object {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

select {
    width: 12rem;
    padding: .3rem 1rem; /* 여백으로 높이 설정 */
    font-family: inherit;
    font-size: var(--font-sm);
    background: url('../imgs/select3.svg') no-repeat 95% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
    background-size: contain;
    border: 0.1rem solid #e5e5e5;
    border-radius: 0; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

select:focus {
    outline: none;
}