.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    align-items: self-start;
    z-index: 99;
}

.modalOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modalContent {
    background-color: white;
    padding: 2.5rem 5rem;
    text-align: center;
    position: relative;
    width: 20rem;
    border-radius: 0.8rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19), 0.6rem 0.6rem rgba(0, 0, 0, 0.23);
    font-size: var(--font-base);
    margin-top: 10rem;
}

#modalBody {
    margin-bottom: 2rem;
}

.modalClose {
    width: 100%;
    display: flex;
    justify-content: end;
}
.modalClose .closeModal {
    cursor: pointer;
}


