
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.loginModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

#loginFormTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.loginModalClose {
    width: 100%;
    display: flex;
    justify-content: end;
}

.btnCloseLogin{
    object-fit: contain;
    width: 3rem;
}


.chkRes {
    font-size: var(--font-sm);
    display: flex;
    justify-content: center;
}

.idChkWarn {
    color: var(--txt-color-warn);
}

.loginFormBtns {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.loginFormSwap {
    font-size: var(--font-sm);
}

.modalOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.modalContent {
    background-color: white;
    padding: 2.5rem 5rem;
    text-align: center;
    position: relative;
    width: 20rem;
    border-radius: 0.8rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19), 0.6rem 0.6rem rgba(0, 0, 0, 0.23);
    font-size: var(--font-base);
}

#modalBody {
    margin-bottom: 2rem;
}

.modalClose {
    width: 100%;
    display: flex;
    justify-content: end;
}
.modalClose .closeModal {
    cursor: pointer;
}

.formRow {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0.5rem;
}

.formCol1 {
    width: calc(100% - 4.2rem);
}
.formCol1 input{
    width: 100%;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0.1rem;
    font-size: var(--font-lg);
}
.formCol1 input:focus{
    outline: none;
    background-color: var(--txt-color-4);
}

.formCol2 {
    text-align: left;
    width: 3rem;
    margin-left: 1rem;
}

.form button {
    width: 100%;
    all: unset;
    background-color: var(--bg-color-1);
    color: var(--txt-color-5);
    border: solid 0.1rem black;
    border-radius: 0.5rem;
    padding: 0.5rem 5rem;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.form button:hover {
    background-color: var(--bg-color-5);
    border: solid 0.1rem var(--txt-color-1);
    color: var(--txt-color-1);
}
