#sidebarWrap {
    margin-top: 3rem;
    text-align: center;
}

.sidebarNoContent {
    padding: 2rem 1rem;
    border: 0.1rem solid black;
    border-width: 0 0 0.1rem 0;
    font-size: var(--font-base);
    display: inline-block;
    width: 70%;
}

.sidebarContent{
    padding: 2rem 1rem;
    border: 0.1rem solid black;
    border-width: 0 0 0.1rem 0;
    font-size: var(--font-lg);
    cursor: pointer;
    display: inline-block;
    width: 70%;
}

.sidebarContent:hover{
    background-color: var(--bg-color-2);
    color: var(--txt-color-5);
}



#btnOpenLogin{
    font-size: var(--font-xl);
    padding: 1.5rem 5rem;
    border-radius: 0;
    background-color: var(--bg-color-2);
    color: var(--txt-color-5);
    border: 0;
    cursor: pointer;
}

#btnOpenLogout{
    font-size: var(--font-xl);
    padding: 1.5rem 5rem;
    border-radius: 0;
    background-color: var(--bg-color-5);
    color: var(--txt-color-1);
    border: 1;
    cursor: pointer;
}

#btnOpenLogin:hover{
    background-color: var(--bg-color-5);
    color: var(--txt-color-1);
    border: 1;
}

#btnOpenLogout:hover{
    background-color: var(--bg-color-2);
    color: var(--txt-color-5);
    border: 0;
}



.searchInput{
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    background: url('../imgs/search3.svg') no-repeat 2% 50%;
    background-size: contain;
    background-color: white;
    border: 0.1rem solid;
    border-radius: 0; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

.searchInput:focus {
    outline: none;
}